<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>52</real>
		<key>gain</key>
		<real>3.3189656734466553</real>
		<key>q</key>
		<real>2.8476333618164062</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>246</real>
		<key>gain</key>
		<real>-4.465517520904541</real>
		<key>q</key>
		<real>1.5109348297119141</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>-0.60344827175140381</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1859</real>
		<key>gain</key>
		<real>2.6551723480224609</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>7017</real>
		<key>gain</key>
		<real>3.3189656734466553</real>
		<key>q</key>
		<real>0.93606758117675781</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>20000</real>
		<key>gain</key>
		<real>1.75</real>
		<key>q</key>
		<real>0.73356747627258301</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>20000</real>
		<key>gain</key>
		<real>1.0258620977401733</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
