<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Date</key>
	<date>2017-01-15T17:51:36Z</date>
	<key>Title</key>
	<string>Welcome to EASe 3.0</string>
	<key>Message</key>
	<string>Please familiarize yourself with the new look of EASe.
  While the interface has changed, we also did some tweaks under the hood and have created an updated audio engine.
  You can now stream all music modules without needing purchase them separatly by signing up for the PRO subscription.
  Or use the legacy subscritpion so you can listen to your music modules.
  Please contact support if you have any questions.
  Remember you can transfer your music modules from the other EASe apps to the new EASe. 
  We are still working on getting a guided mode up and running.</string>
</dict>
</plist>
