<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Date</key>
	<date>2017-02-26T17:51:36Z</date>
	<key>Title</key>
	<string>New Modules are coming</string>
	<key>Message</key>
	<string>We are working on new music modules. They might show up in the list of modules but they are not ready yet.
		So you cannot purchase nor stream them just yet.
  Please contact support if you have any questions.
  We are still working on getting a guided mode up and running.</string>
</dict>
</plist>
