<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Date</key>
	<date>2023-11-23T17:51:36Z</date>
	<key>Title</key>
	<string>Equalizer update</string>
	<key>Message</key>
	<string>Please take the time to familiarize yourself with the app. Link to the manual is in the settings panel. If you need help, the support email is under support, also in the settings panel.</string>
	<key>DonnateButton</key>
	<real>0</real>
</dict>
</plist>
