<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Date</key>
	<date>2017-10-22T17:51:36Z</date>
	<key>s</key>
	<string>ZAGM+lc9yTUsX1xSSXGmGhvJ0WAaR9Nw9gZTf21gEUbMsQF+iQ1CFWX8rQvWrgDZ</string>
	<key>news</key>
	<string>Please considering downloading our apps to support us.</string>
	<key>b</key>
	<string>IDiKkmB0ES8lKNqF2QglVy4EtbwIAWi9QLcylBYzOem43htuCLTF6H4euMyPftdz</string>
	<key>Link</key>
	<string>https://audioforge.net</string>
</dict>
</plist>
