<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>update</key>
	<date>2017-01-09T17:51:36Z</date>
	<key>news</key>
	<string>Thank you for supporting Simple Complications. Let us know what you would like to have added to make your live easier keeping up-to-date.</string>
	<key>webURL</key>
	<string>www.floatrates.com/daily/eur.json</string>
	<key>Number</key>
	<true/>
	<key>scrapeBefore</key>
	<string>usd,rate</string>
	<key>scrapeAfter</key>
	<string>date</string>
	<key>sourceSelector</key>
	<string>JSON</string>
	<key>refreshRate</key>
	<string>600</string>
	<key>lowNumber</key>
	<real>0.5</real>
	<key>highNumber</key>
	<real>2</real>
</dict>
</plist>
