<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>webURL</key>
		<string>api.fixer.io/latest?base=USD</string>
		<key>title</key>
		<string>Currency exchange rates</string>
		<key>scrapeBefore</key>
		<string>rates,EUR</string>
		<key>scrapeAfter</key>
		<string>date</string>
		<key>sourceSelector</key>
		<string>JSON</string>
		<key>refreshRate</key>
		<string>36000</string>
	</dict>
	<dict>
		<key>webURL</key>
		<string>www.espn.com/espn/rss/news</string>
		<key>title</key>
		<string>ESPN News</string>
		<key>scrapeBefore</key>
		<string>channel,item,[0],title</string>
		<key>scrapeAfter</key>
		<string>channel,generator</string>
		<key>sourceSelector</key>
		<string>XML</string>
		<key>refreshRate</key>
		<string>36000</string>
	</dict>
	<dict>
		<key>webURL</key>
		<string>sports.yahoo.com/nhl/teams/van/rss.xml</string>
		<key>title</key>
		<string>NHL Canucks News</string>
		<key>scrapeBefore</key>
		<string>channel,item,[0],title</string>
		<key>scrapeAfter</key>
		<string>channel,item,[0],category</string>
		<key>sourceSelector</key>
		<string>XML</string>
		<key>refreshRate</key>
		<string>36000</string>
	</dict>
	<dict>
		<key>webURL</key>
		<string>itunes.apple.com/us/rss/topsongs/limit=2/explicit=true/json</string>
		<key>title</key>
		<string>iTunes Top Song</string>
		<key>scrapeBefore</key>
		<string>feed,entry,[0],title,label</string>
		<key>scrapeAfter</key>
		<string>feed,author,name,label</string>
		<key>sourceSelector</key>
		<string>JSON</string>
		<key>refreshRate</key>
		<string>36000</string>
	</dict>
	<dict>
		<key>webURL</key>
		<string>earthquake.usgs.gov/earthquakes/feed/v1.0/summary/all_hour.geojson</string>
		<key>title</key>
		<string>Earthquakes</string>
		<key>scrapeBefore</key>
		<string>features,[0],properties,place</string>
		<key>scrapeAfter</key>
		<string>features,[0],properties,mag</string>
		<key>sourceSelector</key>
		<string>JSON</string>
		<key>refreshRate</key>
		<string>600</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Apple Developer News</string>
		<key>webURL</key>
		<string>developer.apple.com/news/rss/news.rss</string>
		<key>scrapeBefore</key>
		<string>channel,item,[0],title</string>
		<key>scrapeAfter</key>
		<string></string>
		<key>sourceSelector</key>
		<string>XML</string>
		<key>refreshRate</key>
		<string>36000</string>
	</dict>
	<dict>
		<key>title</key>
		<string>Daring Fireball</string>
		<key>webURL</key>
		<string>daringfireball.net/feeds/main</string>
		<key>scrapeBefore</key>
		<string>entry,[0],title</string>
		<key>scrapeAfter</key>
		<string>entry,[0],published</string>
		<key>sourceSelector</key>
		<string>XML</string>
		<key>refreshRate</key>
		<string>36000</string>
	</dict>
</array>
</plist>
