<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Requested</string>
		<key>number</key>
		<string>108</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alternative</string>
		<key>number</key>
		<string>135</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ambient</string>
		<key>number</key>
		<string>40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>BigBand</string>
		<key>number</key>
		<string>6</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blues</string>
		<key>number</key>
		<string>33</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Christian</string>
		<key>number</key>
		<string>40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Classical</string>
		<key>number</key>
		<string>42</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ClassicRock</string>
		<key>number</key>
		<string>101</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Country</string>
		<key>number</key>
		<string>187</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dance</string>
		<key>number</key>
		<string>245</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dubstep</string>
		<key>number</key>
		<string>40</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Electronica</string>
		<key>number</key>
		<string>208</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HeavyMetal</string>
		<key>number</key>
		<string>43</string>
	</dict>
	<dict>
		<key>name</key>
		<string>HipHop</string>
		<key>number</key>
		<string>145</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Jazz</string>
		<key>number</key>
		<string>170</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Latin</string>
		<key>number</key>
		<string>100</string>
	</dict>
	<dict>
		<key>name</key>
		<string>News</string>
		<key>number</key>
		<string>231</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Oldies</string>
		<key>number</key>
		<string>214</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Pop</string>
		<key>number</key>
		<string>682</string>
	</dict>
	<dict>
		<key>name</key>
		<string>RnB</string>
		<key>number</key>
		<string>29</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rock</string>
		<key>number</key>
		<string>622</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SmoothJazz</string>
		<key>number</key>
		<string>39</string>
	</dict>
	<dict>
		<key>name</key>
		<string>SoftRock</string>
		<key>number</key>
		<string>63</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Soul</string>
		<key>number</key>
		<string>54</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Top40</string>
		<key>number</key>
		<string>285</string>
	</dict>
	<dict>
		<key>name</key>
		<string>World</string>
		<key>number</key>
		<string>73</string>
	</dict>
</array>
</plist>
