<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>46</real>
		<key>gain</key>
		<real>2.5899999141693115</real>
		<key>q</key>
		<real>4.5704464912414551</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1676</real>
		<key>gain</key>
		<real>0.9100000262260437</real>
		<key>q</key>
		<real>1.1066620349884033</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>20000</real>
		<key>gain</key>
		<real>2.0299999713897705</real>
		<key>q</key>
		<real>2.5189394950866699</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>94</real>
		<key>gain</key>
		<real>-4.5500001907348633</real>
		<key>q</key>
		<real>0.53200572729110718</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>9427</real>
		<key>gain</key>
		<real>1.8899999856948853</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3946</real>
		<key>gain</key>
		<real>0.62999999523162842</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>20000</real>
		<key>gain</key>
		<real>0.84000003337860107</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
