<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>71</real>
		<key>gain</key>
		<real>-3.3600001335144043</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>37</real>
		<key>gain</key>
		<real>-0.070000000298023224</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>194</real>
		<key>gain</key>
		<real>-9.4849996566772461</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>-2.940000057220459</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>2610</real>
		<key>gain</key>
		<real>-0.84000003337860107</real>
		<key>q</key>
		<real>1.6666666269302368</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>6422</real>
		<key>gain</key>
		<real>1.3999999761581421</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>15571</real>
		<key>gain</key>
		<real>2.625</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
