<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>81</real>
		<key>gain</key>
		<real>-1.6800000667572021</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>37</real>
		<key>gain</key>
		<real>1.3650000095367432</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>194</real>
		<key>gain</key>
		<real>-5.0750002861022949</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>-3.5699999332427979</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>2354</real>
		<key>gain</key>
		<real>1.2949999570846558</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>6422</real>
		<key>gain</key>
		<real>2.2049999237060547</real>
		<key>q</key>
		<real>2</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>6518</real>
		<key>gain</key>
		<real>-5.3899998664855957</real>
		<key>q</key>
		<real>0.25</real>
	</dict>
</array>
</plist>
