<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>40</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>63</real>
		<key>gain</key>
		<real>-5.25</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>200</real>
		<key>gain</key>
		<real>-8.4350004196166992</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>-5.4250001907348633</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>633</real>
		<key>gain</key>
		<real>1.190000057220459</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>5301</real>
		<key>gain</key>
		<real>-3.2200000286102295</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>14678</real>
		<key>gain</key>
		<real>2.2750000953674316</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
