<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>84</real>
		<key>gain</key>
		<real>3.9900000095367432</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>37</real>
		<key>gain</key>
		<real>2.6949999332427979</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>194</real>
		<key>gain</key>
		<real>-3.5350000858306885</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>-5.809999942779541</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>2728</real>
		<key>gain</key>
		<real>3.3949999809265137</real>
		<key>q</key>
		<real>1.6666666269302368</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>6422</real>
		<key>gain</key>
		<real>-0.59500002861022949</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>15571</real>
		<key>gain</key>
		<real>-0.070000000298023224</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
