<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>54</real>
		<key>gain</key>
		<real>-4.2699999809265137</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>134</real>
		<key>gain</key>
		<real>3.5</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>400</real>
		<key>gain</key>
		<real>-1.4700000286102295</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3831</real>
		<key>gain</key>
		<real>3.2899999618530273</real>
		<key>q</key>
		<real>1.418822169303894</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3000</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>10453</real>
		<key>gain</key>
		<real>6.0900001525878906</real>
		<key>q</key>
		<real>0.71223717927932739</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>17266</real>
		<key>gain</key>
		<real>1.6800000667572021</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
