<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>36</real>
		<key>gain</key>
		<real>4.9000000953674316</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>63</real>
		<key>gain</key>
		<real>-4.9700002670288086</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>289</real>
		<key>gain</key>
		<real>4.8299999237060547</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1250</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3455</real>
		<key>gain</key>
		<real>5.5999999046325684</real>
		<key>q</key>
		<real>1.318468451499939</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>5000</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>16518</real>
		<key>gain</key>
		<real>8.4700002670288086</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
