<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>40</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>66</real>
		<key>gain</key>
		<real>-1.75</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>197</real>
		<key>gain</key>
		<real>-10.045000076293945</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1159</real>
		<key>gain</key>
		<real>-4.445000171661377</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>633</real>
		<key>gain</key>
		<real>1.190000057220459</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3888</real>
		<key>gain</key>
		<real>-2.6949999332427979</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>10608</real>
		<key>gain</key>
		<real>3.2899999618530273</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
