<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>64</real>
		<key>gain</key>
		<real>-2.3450000286102295</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>37</real>
		<key>gain</key>
		<real>1.3650000095367432</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>194</real>
		<key>gain</key>
		<real>-6.125</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>-2.6600000858306885</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>2497</real>
		<key>gain</key>
		<real>0.73500001430511475</real>
		<key>q</key>
		<real>1.6666666269302368</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>6422</real>
		<key>gain</key>
		<real>1.2250000238418579</real>
		<key>q</key>
		<real>1.6666666269302368</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>15571</real>
		<key>gain</key>
		<real>1.75</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
