<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>56</real>
		<key>gain</key>
		<real>1.3999999761581421</real>
		<key>q</key>
		<real>4.5704464912414551</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1077</real>
		<key>gain</key>
		<real>-2.6600000858306885</real>
		<key>q</key>
		<real>1.1066620349884033</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>20000</real>
		<key>gain</key>
		<real>2.0299999713897705</real>
		<key>q</key>
		<real>2.5189394950866699</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>219</real>
		<key>gain</key>
		<real>-3.9900000095367432</real>
		<key>q</key>
		<real>1.0979843139648438</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>6144</real>
		<key>gain</key>
		<real>2.7999999523162842</real>
		<key>q</key>
		<real>0.62950944900512695</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>14251</real>
		<key>gain</key>
		<real>1.0499999523162842</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>20000</real>
		<key>gain</key>
		<real>0.84000003337860107</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
