<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>47</real>
		<key>gain</key>
		<real>-6.0900001525878906</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>143</real>
		<key>gain</key>
		<real>1.2599999904632568</real>
		<key>q</key>
		<real>0.61293810606002808</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>438</real>
		<key>gain</key>
		<real>-3.2899999618530273</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>2319</real>
		<key>gain</key>
		<real>2.940000057220459</real>
		<key>q</key>
		<real>1.6038645505905151</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3000</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>10926</real>
		<key>gain</key>
		<real>3.2200000286102295</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>20000</real>
		<key>gain</key>
		<real>0.69999998807907104</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
