<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>119</real>
		<key>gain</key>
		<real>-7.5250000953674316</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>63</real>
		<key>gain</key>
		<real>-2.5199999809265137</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>175</real>
		<key>gain</key>
		<real>-8.2250003814697266</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1914</real>
		<key>gain</key>
		<real>-1.0850000381469727</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>838</real>
		<key>gain</key>
		<real>-5.5300002098083496</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>4924</real>
		<key>gain</key>
		<real>2.380000114440918</real>
		<key>q</key>
		<real>1.4285714626312256</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>14678</real>
		<key>gain</key>
		<real>2.5550000667572021</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
