<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>39</real>
		<key>gain</key>
		<real>5.3899998664855957</real>
		<key>q</key>
		<real>0.72635561227798462</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>114</real>
		<key>gain</key>
		<real>-2.5199999809265137</real>
		<key>q</key>
		<real>0.67858481407165527</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>200</real>
		<key>gain</key>
		<real>2.940000057220459</real>
		<key>q</key>
		<real>0.37701570987701416</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1628</real>
		<key>gain</key>
		<real>-0.62999999523162842</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>2688</real>
		<key>gain</key>
		<real>-3.7799999713897705</real>
		<key>q</key>
		<real>0.47938397526741028</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>6713</real>
		<key>gain</key>
		<real>4.8299999237060547</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>18316</real>
		<key>gain</key>
		<real>5.3899998664855957</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
