<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>65</real>
		<key>gain</key>
		<real>3.7799999713897705</real>
		<key>q</key>
		<real>1.8016257286071777</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>103</real>
		<key>gain</key>
		<real>-5.2849998474121094</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>209</real>
		<key>gain</key>
		<real>4.3400001525878906</real>
		<key>q</key>
		<real>1.2044816017150879</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1943</real>
		<key>gain</key>
		<real>-4.059999942779541</real>
		<key>q</key>
		<real>0.54616165161132812</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>597</real>
		<key>gain</key>
		<real>-2.9049999713897705</real>
		<key>q</key>
		<real>0.57717382907867432</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>7121</real>
		<key>gain</key>
		<real>2.2750000953674316</real>
		<key>q</key>
		<real>1.2509109973907471</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>20000</real>
		<key>gain</key>
		<real>2.5550000667572021</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
