<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>88</real>
		<key>gain</key>
		<real>-10.815000534057617</real>
		<key>q</key>
		<real>0.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>212</real>
		<key>gain</key>
		<real>-13.055000305175781</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>2285</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>530</real>
		<key>gain</key>
		<real>-0.14000000059604645</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>24</real>
		<key>gain</key>
		<real>-11.725000381469727</real>
		<key>q</key>
		<real>0.3333333432674408</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>5707</real>
		<key>gain</key>
		<real>0.38499999046325684</real>
		<key>q</key>
		<real>1.4285714626312256</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>13237</real>
		<key>gain</key>
		<real>5.6700000762939453</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
