<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>40</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>63</real>
		<key>gain</key>
		<real>-2.5550000667572021</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>194</real>
		<key>gain</key>
		<real>-10.534999847412109</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>-5.809999942779541</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>633</real>
		<key>gain</key>
		<real>1.190000057220459</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>4507</real>
		<key>gain</key>
		<real>2.2049999237060547</real>
		<key>q</key>
		<real>1.6666666269302368</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>15571</real>
		<key>gain</key>
		<real>0.24500000476837158</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
