<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>59</real>
		<key>gain</key>
		<real>-2.5899999141693115</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>37</real>
		<key>gain</key>
		<real>-0.14000000059604645</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>194</real>
		<key>gain</key>
		<real>-6.125</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>-3.255000114440918</real>
		<key>q</key>
		<real>0.3333333432674408</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>588</real>
		<key>gain</key>
		<real>0.69999998807907104</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3831</real>
		<key>gain</key>
		<real>1.9600000381469727</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>15571</real>
		<key>gain</key>
		<real>4.5850000381469727</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
