<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>40</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>63</real>
		<key>gain</key>
		<real>-5.25</real>
		<key>q</key>
		<real>0.66666668653488159</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>158</real>
		<key>gain</key>
		<real>-10.010000228881836</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>0.45500001311302185</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>340</real>
		<key>gain</key>
		<real>-6.1599998474121094</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3888</real>
		<key>gain</key>
		<real>-1.8550000190734863</real>
		<key>q</key>
		<real>0.3333333432674408</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>14678</real>
		<key>gain</key>
		<real>2.2750000953674316</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
