<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>38</real>
		<key>gain</key>
		<real>0.24500000476837158</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>72</real>
		<key>gain</key>
		<real>3.6749999523162842</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>206</real>
		<key>gain</key>
		<real>-9.7300004959106445</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>1176</real>
		<key>gain</key>
		<real>-0.34999999403953552</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>633</real>
		<key>gain</key>
		<real>1.190000057220459</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3888</real>
		<key>gain</key>
		<real>-2.4430000782012939</real>
		<key>q</key>
		<real>0.3333333432674408</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>14896</real>
		<key>gain</key>
		<real>1.0149999856948853</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
