<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>47</real>
		<key>gain</key>
		<real>-4.7600002288818359</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>140</real>
		<key>gain</key>
		<real>2.5199999809265137</real>
		<key>q</key>
		<real>0.53325992822647095</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>642</real>
		<key>gain</key>
		<real>4.690000057220459</real>
		<key>q</key>
		<real>0.56305050849914551</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3305</real>
		<key>gain</key>
		<real>7.4200000762939453</real>
		<key>q</key>
		<real>1.1015520095825195</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3000</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>10926</real>
		<key>gain</key>
		<real>7.9099998474121094</real>
		<key>q</key>
		<real>1.2794291973114014</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>13000</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
