<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>39</real>
		<key>gain</key>
		<real>1.5017300844192505</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>108</real>
		<key>gain</key>
		<real>-3.512110710144043</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>194</real>
		<key>gain</key>
		<real>-8.1626300811767578</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>307</real>
		<key>gain</key>
		<real>-4.0934257507324219</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>24</real>
		<key>gain</key>
		<real>0.096885815262794495</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>4924</real>
		<key>gain</key>
		<real>-2.4463667869567871</real>
		<key>q</key>
		<real>0.5</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>4852</real>
		<key>gain</key>
		<real>0.096885815262794495</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
