<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>72</real>
		<key>gain</key>
		<real>3.529411792755127</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>175</real>
		<key>gain</key>
		<real>-14.948097229003906</real>
		<key>q</key>
		<real>0.83333331346511841</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>778</real>
		<key>gain</key>
		<real>2.3356401920318604</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>4574</real>
		<key>gain</key>
		<real>5.7612457275390625</real>
		<key>q</key>
		<real>1.25</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>2154</real>
		<key>gain</key>
		<real>-6.6435985565185547</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>5000</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>13000</real>
		<key>gain</key>
		<real>0.0</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
