<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>profiles</key>
	<array>
		<string>VictoryAPrince</string>
		<string>ClarityAFrankSinatra</string>
		<string>AirLinksGHeavyMetal</string>
		<string>ClarityAIggyAzelea</string>
		<string>ClarityGAlternative</string>
		<string>VictoryAJoeNichols</string>
		<string>ClarityGElectronicaDance</string>
		<string>ClarityA6am</string>
		<string>AirLinksADaveBrubeck</string>
		<string>VictoryAArianneGrande</string>
		<string>ClarityATrain</string>
		<string>VictoryA6am</string>
		<string>VictoryASade</string>
		<string>AirLinksADisturbed</string>
		<string>VictoryAMotleyCrüe</string>
		<string>AirLinksGElectronicaDance</string>
		<string>VictoryARobbieDupree</string>
		<string>ClarityAMichaelJackson</string>
		<string>VictoryGHeavyMetal</string>
		<string>ClarityAPitbull</string>
		<string>VictoryGJazz</string>
		<string>VictoryADrowningPool</string>
		<string>AirLinksAJoeNichols</string>
		<string>VictoryALedZeppelin</string>
		<string>ClarityABozScaggslive</string>
		<string>AirLinksASwingOutSister</string>
		<string>AirLinksABillieHoliday</string>
		<string>VictoryASteelyDan</string>
		<string>ClarityAMilesmilestones</string>
		<string>AirLinksASade</string>
		<string>VictoryA50Cent</string>
		<string>VictoryALilWayne</string>
		<string>ClarityALorde</string>
		<string>ClarityALilWayne</string>
		<string>VictoryGPop</string>
		<string>AirLinksAColdplay</string>
		<string>VictoryADianeKrall</string>
		<string>VictoryATaylorSwift</string>
		<string>AirLinksASteelyDan</string>
		<string>ClarityANikiMinaj</string>
		<string>VictoryAJohnLegend</string>
		<string>VictoryAFrankSinatra</string>
		<string>AirLinksANorahJones</string>
		<string>AirLinksAZakBrownBand</string>
		<string>ClarityGPop</string>
		<string>AirLinksGReggae</string>
		<string>VictoryADisturbed</string>
		<string>ClarityAAdventura</string>
		<string>ClarityANeonTrees</string>
		<string>AirLinksAFleetwoodMac</string>
		<string>VictoryAStaind</string>
		<string>AirLinksADianeKrall</string>
		<string>ClarityAKatyPerry</string>
		<string>ClarityAJamesTaylor</string>
		<string>ClarityGOldies</string>
		<string>ClarityADrowningPool</string>
		<string>ClarityARobbieDupree</string>
		<string>ClarityAEdSheeran</string>
		<string>VictoryANorahJones</string>
		<string>AirLinksGJazz</string>
		<string>AirLinksAJohnLegend</string>
		<string>AirLinksAAliciaKeys</string>
		<string>VictoryGHip-HopRap</string>
		<string>VictoryGR&amp;BSoul</string>
		<string>AirLinksAMotleyCrüe</string>
		<string>AirLinksAMichaelJackson</string>
		<string>ClarityA5seconds</string>
		<string>ClarityRReference1</string>
		<string>ClarityASwingOutSister</string>
		<string>VictoryA5seconds</string>
		<string>AirLinksANiconVince</string>
		<string>AirLinksGClassical</string>
		<string>ClarityAHiredGuns</string>
		<string>VictoryAMilesmilestones</string>
		<string>AirLinksAArianneGrande</string>
		<string>VictoryADaveBrubeck</string>
		<string>AirLinksGPop</string>
		<string>AirLinksALedZeppelin</string>
		<string>VictoryAAliciaKeys</string>
		<string>AirLinksGHip-HopRap</string>
		<string>VictoryAMegadeath</string>
		<string>AirLinksATeddyPendegrass</string>
		<string>AirLinksAPrince</string>
		<string>VictoryANiconVince</string>
		<string>VictoryABillieHoliday</string>
		<string>ClarityAOneRepublic</string>
		<string>VictoryALukeBryan</string>
		<string>ClarityADrake</string>
		<string>AirLinksAStaind</string>
		<string>ClarityGLatina</string>
		<string>VictoryALutherVandross</string>
		<string>AirLinksALukeBryan</string>
		<string>AirLinksADinahWashington</string>
		<string>VictoryGReggae</string>
		<string>AirLinksAStevieWonder</string>
		<string>ClarityGJazz</string>
		<string>AirLinksAMegadeath</string>
		<string>AirLinksATaylorSwift</string>
		<string>ClarityAAvicii</string>
		<string>ClarityA3DoorsDown</string>
		<string>ClarityAMachineHead</string>
		<string>ClarityASade</string>
		<string>VictoryATower</string>
		<string>AirLinksA50Cent</string>
		<string>VictoryGClassical</string>
		<string>AirLinksGR&amp;BSoul</string>
		<string>ClarityGCountry</string>
		<string>AirLinksA6am</string>
		<string>AirLinksATower</string>
		<string>VictoryADinahWashington</string>
		<string>VictoryGCountry</string>
		<string>AirLinksADrake</string>
		<string>VictoryAMachineHead</string>
		<string>ClarityGHeavyMetal</string>
		<string>AirLinksAIggyAzelea</string>
		<string>VictoryGRock</string>
		<string>AirLinksAJamesTaylor</string>
		<string>VictoryAFleetwoodMac</string>
		<string>VictoryADrake</string>
		<string>VictoryAAvicii</string>
		<string>VictoryABozScaggslive</string>
		<string>VictoryAZakBrownBand</string>
		<string>ClarityAJoeNichols</string>
		<string>AirLinksAHiredGuns</string>
		<string>VictoryAMichaelJackson</string>
		<string>ClarityGClassical</string>
		<string>AirLinksAEWF</string>
		<string>AirLinksAFrankSinatra</string>
		<string>VictoryAIggyAzelea</string>
		<string>ClarityGReggae</string>
		<string>AirLinksA5seconds</string>
		<string>ClarityAArianneGrande</string>
		<string>VictoryGLatina</string>
		<string>AirLinksGOldies</string>
		<string>AirLinksGRock</string>
		<string>ClarityAFleetwoodMac</string>
		<string>ClarityATower</string>
		<string>VictoryAOneRepublic</string>
		<string>AirLinksADrowningPool</string>
		<string>AirLinksAMilesmilestones</string>
		<string>ClarityANorahJones</string>
		<string>VictoryAHiredGuns</string>
		<string>VictoryGElectronicaDance</string>
		<string>AirLinksARobbieDupree</string>
		<string>ClarityADianeKrall</string>
		<string>ClarityAMegadeath</string>
		<string>VictoryATeddyPendegrass</string>
		<string>AirLinksALutherVandross</string>
		<string>ClarityAJohnLegend</string>
		<string>AirLinksGAlternative</string>
		<string>AirLinksGCountry</string>
		<string>ClarityGR&amp;BSoul</string>
		<string>ClarityADaveBrubeck</string>
		<string>ClarityALukeBryan</string>
		<string>ClarityAZakBrownBand</string>
		<string>VictoryANikiMinaj</string>
		<string>VictoryAJamesTaylor</string>
		<string>ClarityAAliciaKeys</string>
		<string>ClarityAStaind</string>
		<string>AirLinksABozScaggslive</string>
		<string>VictoryGOldies</string>
		<string>AirLinksGLatina</string>
		<string>VictoryASwingOutSister</string>
		<string>AirLinksAMachineHead</string>
		<string>ClarityANiconVince</string>
		<string>AirLinksRReference1</string>
		<string>ClarityABillieHoliday</string>
		<string>ClarityADinahWashington</string>
		<string>ClarityATaylorSwift</string>
		<string>AirLinksAPitbull</string>
		<string>VictoryAKatyPerry</string>
		<string>AirLinksATrain</string>
		<string>ClarityADisturbed</string>
		<string>ClarityGHip-HopRap</string>
		<string>VictoryAStevieWonder</string>
		<string>VictoryANeonTrees</string>
		<string>VictoryAAdventura</string>
		<string>AirLinksAAvicii</string>
		<string>VictoryATrain</string>
		<string>VictoryAEdSheeran</string>
		<string>VictoryRReference1</string>
		<string>ClarityA50Cent</string>
		<string>VictoryAEWF</string>
		<string>AirLinksAOneRepublic</string>
		<string>AirLinksAEdSheeran</string>
		<string>ClarityATeddyPendegrass</string>
		<string>ClarityALutherVandross</string>
		<string>VictoryA3DoorsDown</string>
		<string>AirLinksAKatyPerry</string>
		<string>VictoryAPitbull</string>
		<string>AirLinksANeonTrees</string>
		<string>AirLinksAAdventura</string>
		<string>ClarityAEWF</string>
		<string>ClarityALedZeppelin</string>
		<string>VictoryGAlternative</string>
		<string>AirLinksALilWayne</string>
		<string>VictoryALorde</string>
		<string>VictoryAColdplay</string>
		<string>AirLinksA3DoorsDown</string>
		<string>ClarityGRock</string>
		<string>ClarityAColdplay</string>
		<string>AirLinksANikiMinaj</string>
		<string>ClarityASteelyDan</string>
		<string>ClarityAMotleyCrüe</string>
		<string>AirLinksALorde</string>
		<string>ClarityAStevieWonder</string>
		<string>ClarityAPrince</string>
	</array>
	<key>versionNumber</key>
	<integer>9</integer>
</dict>
</plist>
