<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>devices</key>
	<array>
		<string>AirLinks</string>
		<string>Clarity</string>
		<string>Victory</string>
		<string>METERSOV-1</string>
		<string>ElementsOnEar</string>
		<string>ElementsOverEar</string>
	</array>
	<key>profiles</key>
	<array>
		<string>VictoryAPrince</string>
		<string>ClarityAFrankSinatra</string>
		<string>AirLinksGHeavyMetal</string>
		<string>ClarityAIggyAzelea</string>
		<string>ClarityGAlternative</string>
		<string>VictoryAJoeNichols</string>
		<string>ClarityGElectronicaDance</string>
		<string>ClarityA6am</string>
		<string>AirLinksADaveBrubeck</string>
		<string>VictoryAArianneGrande</string>
		<string>ClarityATrain</string>
		<string>VictoryA6am</string>
		<string>VictoryASade</string>
		<string>AirLinksADisturbed</string>
		<string>VictoryAMotleyCrüe</string>
		<string>AirLinksGElectronicaDance</string>
		<string>VictoryARobbieDupree</string>
		<string>ClarityAMichaelJackson</string>
		<string>VictoryGHeavyMetal</string>
		<string>ClarityAPitbull</string>
		<string>VictoryGJazz</string>
		<string>VictoryADrowningPool</string>
		<string>AirLinksAJoeNichols</string>
		<string>VictoryALedZeppelin</string>
		<string>ClarityABozScaggslive</string>
		<string>AirLinksASwingOutSister</string>
		<string>AirLinksABillieHoliday</string>
		<string>VictoryASteelyDan</string>
		<string>ClarityAMilesmilestones</string>
		<string>AirLinksASade</string>
		<string>VictoryA50Cent</string>
		<string>VictoryALilWayne</string>
		<string>ClarityALorde</string>
		<string>ClarityALilWayne</string>
		<string>VictoryGPop</string>
		<string>AirLinksAColdplay</string>
		<string>VictoryADianeKrall</string>
		<string>VictoryATaylorSwift</string>
		<string>AirLinksASteelyDan</string>
		<string>ClarityANikiMinaj</string>
		<string>VictoryAJohnLegend</string>
		<string>VictoryAFrankSinatra</string>
		<string>AirLinksANorahJones</string>
		<string>AirLinksAZakBrownBand</string>
		<string>ClarityGPop</string>
		<string>AirLinksGReggae</string>
		<string>VictoryADisturbed</string>
		<string>ClarityAAdventura</string>
		<string>ClarityANeonTrees</string>
		<string>AirLinksAFleetwoodMac</string>
		<string>VictoryAStaind</string>
		<string>AirLinksADianeKrall</string>
		<string>ClarityAKatyPerry</string>
		<string>ClarityAJamesTaylor</string>
		<string>ClarityGOldies</string>
		<string>ClarityADrowningPool</string>
		<string>ClarityARobbieDupree</string>
		<string>ClarityAEdSheeran</string>
		<string>VictoryANorahJones</string>
		<string>AirLinksGJazz</string>
		<string>AirLinksAJohnLegend</string>
		<string>AirLinksAAliciaKeys</string>
		<string>VictoryGHip-HopRap</string>
		<string>VictoryGR&amp;BSoul</string>
		<string>AirLinksAMotleyCrüe</string>
		<string>AirLinksAMichaelJackson</string>
		<string>ClarityA5seconds</string>
		<string>ClarityRReference1</string>
		<string>ClarityASwingOutSister</string>
		<string>VictoryA5seconds</string>
		<string>AirLinksANiconVince</string>
		<string>AirLinksGClassical</string>
		<string>ClarityAHiredGuns</string>
		<string>VictoryAMilesmilestones</string>
		<string>AirLinksAArianneGrande</string>
		<string>VictoryADaveBrubeck</string>
		<string>AirLinksGPop</string>
		<string>AirLinksALedZeppelin</string>
		<string>VictoryAAliciaKeys</string>
		<string>AirLinksGHip-HopRap</string>
		<string>VictoryAMegadeath</string>
		<string>AirLinksATeddyPendegrass</string>
		<string>AirLinksAPrince</string>
		<string>VictoryANiconVince</string>
		<string>VictoryABillieHoliday</string>
		<string>ClarityAOneRepublic</string>
		<string>VictoryALukeBryan</string>
		<string>ClarityADrake</string>
		<string>AirLinksAStaind</string>
		<string>ClarityGLatina</string>
		<string>VictoryALutherVandross</string>
		<string>AirLinksALukeBryan</string>
		<string>AirLinksADinahWashington</string>
		<string>VictoryGReggae</string>
		<string>AirLinksAStevieWonder</string>
		<string>ClarityGJazz</string>
		<string>AirLinksAMegadeath</string>
		<string>AirLinksATaylorSwift</string>
		<string>ClarityAAvicii</string>
		<string>ClarityA3DoorsDown</string>
		<string>ClarityAMachineHead</string>
		<string>ClarityASade</string>
		<string>VictoryATower</string>
		<string>AirLinksA50Cent</string>
		<string>VictoryGClassical</string>
		<string>AirLinksGR&amp;BSoul</string>
		<string>ClarityGCountry</string>
		<string>AirLinksA6am</string>
		<string>AirLinksATower</string>
		<string>VictoryADinahWashington</string>
		<string>VictoryGCountry</string>
		<string>AirLinksADrake</string>
		<string>VictoryAMachineHead</string>
		<string>ClarityGHeavyMetal</string>
		<string>AirLinksAIggyAzelea</string>
		<string>VictoryGRock</string>
		<string>AirLinksAJamesTaylor</string>
		<string>VictoryAFleetwoodMac</string>
		<string>VictoryADrake</string>
		<string>VictoryAAvicii</string>
		<string>VictoryABozScaggslive</string>
		<string>VictoryAZakBrownBand</string>
		<string>ClarityAJoeNichols</string>
		<string>AirLinksAHiredGuns</string>
		<string>VictoryAMichaelJackson</string>
		<string>ClarityGClassical</string>
		<string>AirLinksAEWF</string>
		<string>AirLinksAFrankSinatra</string>
		<string>VictoryAIggyAzelea</string>
		<string>ClarityGReggae</string>
		<string>AirLinksA5seconds</string>
		<string>ClarityAArianneGrande</string>
		<string>VictoryGLatina</string>
		<string>AirLinksGOldies</string>
		<string>AirLinksGRock</string>
		<string>ClarityAFleetwoodMac</string>
		<string>ClarityATower</string>
		<string>VictoryAOneRepublic</string>
		<string>AirLinksADrowningPool</string>
		<string>AirLinksAMilesmilestones</string>
		<string>ClarityANorahJones</string>
		<string>VictoryAHiredGuns</string>
		<string>VictoryGElectronicaDance</string>
		<string>AirLinksARobbieDupree</string>
		<string>ClarityADianeKrall</string>
		<string>ClarityAMegadeath</string>
		<string>VictoryATeddyPendegrass</string>
		<string>AirLinksALutherVandross</string>
		<string>ClarityAJohnLegend</string>
		<string>AirLinksGAlternative</string>
		<string>AirLinksGCountry</string>
		<string>ClarityGR&amp;BSoul</string>
		<string>ClarityADaveBrubeck</string>
		<string>ClarityALukeBryan</string>
		<string>ClarityAZakBrownBand</string>
		<string>VictoryANikiMinaj</string>
		<string>VictoryAJamesTaylor</string>
		<string>ClarityAAliciaKeys</string>
		<string>ClarityAStaind</string>
		<string>AirLinksABozScaggslive</string>
		<string>VictoryGOldies</string>
		<string>AirLinksGLatina</string>
		<string>VictoryASwingOutSister</string>
		<string>AirLinksAMachineHead</string>
		<string>ClarityANiconVince</string>
		<string>AirLinksRReference1</string>
		<string>ClarityABillieHoliday</string>
		<string>ClarityADinahWashington</string>
		<string>ClarityATaylorSwift</string>
		<string>AirLinksAPitbull</string>
		<string>VictoryAKatyPerry</string>
		<string>AirLinksATrain</string>
		<string>ClarityADisturbed</string>
		<string>ClarityGHip-HopRap</string>
		<string>VictoryAStevieWonder</string>
		<string>VictoryANeonTrees</string>
		<string>VictoryAAdventura</string>
		<string>AirLinksAAvicii</string>
		<string>VictoryATrain</string>
		<string>VictoryAEdSheeran</string>
		<string>VictoryRReference1</string>
		<string>ClarityA50Cent</string>
		<string>VictoryAEWF</string>
		<string>AirLinksAOneRepublic</string>
		<string>AirLinksAEdSheeran</string>
		<string>ClarityATeddyPendegrass</string>
		<string>ClarityALutherVandross</string>
		<string>VictoryA3DoorsDown</string>
		<string>AirLinksAKatyPerry</string>
		<string>VictoryAPitbull</string>
		<string>AirLinksANeonTrees</string>
		<string>AirLinksAAdventura</string>
		<string>ClarityAEWF</string>
		<string>ClarityALedZeppelin</string>
		<string>VictoryGAlternative</string>
		<string>AirLinksALilWayne</string>
		<string>VictoryALorde</string>
		<string>VictoryAColdplay</string>
		<string>AirLinksA3DoorsDown</string>
		<string>ClarityGRock</string>
		<string>ClarityAColdplay</string>
		<string>AirLinksANikiMinaj</string>
		<string>ClarityASteelyDan</string>
		<string>ClarityAMotleyCrüe</string>
		<string>AirLinksALorde</string>
		<string>ClarityAStevieWonder</string>
		<string>ClarityAPrince</string>
		<string>DNAProA3DoorsDown</string>
		<string>DNAProA5seconds</string>
		<string>DNAProA6am</string>
		<string>DNAProA50Cent</string>
		<string>DNAProAAdventura</string>
		<string>DNAProAAliciaKeys</string>
		<string>DNAProAArianneGrande</string>
		<string>DNAProAAvicii</string>
		<string>DNAProABillieHoliday</string>
		<string>DNAProABozScaggslive</string>
		<string>DNAProAColdplay</string>
		<string>DNAProADaveBrubeck</string>
		<string>DNAProADianeKrall</string>
		<string>DNAProADinahWashington</string>
		<string>DNAProADisturbed</string>
		<string>DNAProADrake</string>
		<string>DNAProGAlternative</string>
		<string>DNAProGClassical</string>
		<string>DNAProGCountry</string>
		<string>DNAProGElectronicaDance</string>
		<string>DNAProGHeavyMetal</string>
		<string>DNAProGHip-HopRap</string>
		<string>DNAProGJazz</string>
		<string>DNAProGJazz2</string>
		<string>DNAProGLatina</string>
		<string>DNAProGOldies</string>
		<string>DNAProGPop</string>
		<string>DNAProGR&amp;BSoul</string>
		<string>DNAProGReggae</string>
		<string>DNAProGRock</string>
		<string>DNAProADrowningPool</string>
		<string>DNAProAEdSheeran</string>
		<string>DNAProAEWF</string>
		<string>DNAProAFleetwoodMac</string>
		<string>DNAProAFrankSinatra</string>
		<string>DNAProAHiredGuns</string>
		<string>DNAProAIggyAzelea</string>
		<string>DNAProAJamesTaylor</string>
		<string>DNAProAJoeNichols</string>
		<string>DNAProAJohnLegend</string>
		<string>DNAProAKatyPerry</string>
		<string>DNAProALedZeppelin</string>
		<string>DNAProALilWayne</string>
		<string>DNAProALorde</string>
		<string>DNAProALukeBryan</string>
		<string>DNAProALutherVandross</string>
		<string>DNAProAMachineHead</string>
		<string>DNAProAMegadeath</string>
		<string>DNAProAMichaelJackson</string>
		<string>DNAProAMilesmilestones</string>
		<string>DNAProAMotleyCrue</string>
		<string>DNAProANeonTrees</string>
		<string>DNAProANiconVince</string>
		<string>DNAProANikiMinaj</string>
		<string>DNAProANorahJones</string>
		<string>DNAProAOldStevieWonder</string>
		<string>DNAProAOneRepublic</string>
		<string>DNAProAPitbull</string>
		<string>DNAProAPrince</string>
		<string>DNAProARobbieDupree</string>
		<string>DNAProASade</string>
		<string>DNAProAStaind</string>
		<string>DNAProASteelyDan</string>
		<string>DNAProAStevieWonder</string>
		<string>DNAProASwingOutSister</string>
		<string>DNAProATaylorSwift</string>
		<string>DNAProATeddyPendegrass</string>
		<string>DNAProATower</string>
		<string>DNAProATowerBumpCity</string>
		<string>DNAProATowerLive</string>
		<string>DNAProATowerToOakland</string>
		<string>DNAProATowerVintage</string>
		<string>DNAProATrain</string>
		<string>DNAProAZakBrownBand</string>
		<string>DNAProRReference1</string>
		<string>DNAProRReference2</string>
		<string>DNAProRReference3</string>
		<string>ElementsOnEarRReference1</string>
		<string>ElementsOverEarRReference1</string>
		<string>ElementsOverEarRReference5</string>
		<string>ElementsOverEarRReference6</string>
		<string>METERSOV-1RReference1</string>
	</array>
	<key>versionNumber</key>
	<integer>17</integer>
</dict>
</plist>
