<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>frequency</key>
		<real>42</real>
		<key>gain</key>
		<real>4.690000057220459</real>
		<key>q</key>
		<real>4.5704464912414551</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>863</real>
		<key>gain</key>
		<real>3.4300000667572021</real>
		<key>q</key>
		<real>2.1911036968231201</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>12478</real>
		<key>gain</key>
		<real>4.3400001525878906</real>
		<key>q</key>
		<real>2.5189394950866699</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>209</real>
		<key>gain</key>
		<real>-1.8899999856948853</real>
		<key>q</key>
		<real>1.5758293867111206</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>3305</real>
		<key>gain</key>
		<real>-0.2800000011920929</real>
		<key>q</key>
		<real>0.75052142143249512</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>5000</real>
		<key>gain</key>
		<real>1.8899999856948853</real>
		<key>q</key>
		<real>1</real>
	</dict>
	<dict>
		<key>frequency</key>
		<real>13000</real>
		<key>gain</key>
		<real>-0.42000001668930054</real>
		<key>q</key>
		<real>1</real>
	</dict>
</array>
</plist>
